{% extends "base.html" %}

{% load humanize %}

{% block description %}Input the year, and shown the earning data that presented in graph.{% endblock %}

{% block body %}
<div class="row">
  <div class="col-lg-12">
    <h3 class="mb-3">Earning {{ graph.month }} {{ graph.year }}</h3>
    
    {% if graph.month %}
    <a href="/earning" class="btn btn-secondary mb-3">
      ← Back to Yearly Report
    </a>
    {% endif %}
    
    <form class="form-inline" id="year-form" method="post">
      {% csrf_token %}
      <div class="input-group date mr-sm-1 pl-0 mb-2 col-lg-3" id="year-picker" data-target-input="nearest">
        <input type="text" class="form-control datetimepicker-input" data-target="#year-picker" readonly name="year" value="{{ graph.year }}" />
        <div class="input-group-append" data-target="#year-picker" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
      <input type="hidden" name="month" value="">
    </form>
    <div class="row">
      <div class="col-lg-6">
        <p class="lead">
          <table>
            <tr>
              <td class="w-50">Total Earning</td>
              <td>: <span class="text-success">$ {{ graph.total_earning|intcomma }}</span></td>
            </tr>
            <tr>
              <td class="w-50">Charity <abbr title="2.5% from your total earning">(2.5%)</abbr></td>
              <td>: <span class="text-danger">$ {{ graph.charity|intcomma }}</span></td>
            </tr>
          </table>
        </p>
      </div>
    </div>

    <div id="earning_graph" class="highcharts-graph"></div>

    {% if graph.detail_earning %}
    <div class="row mt-5">
      <div class="col-lg-12">
        <h3>Earning Detail</h3>
        <table class="table table-hover table-striped table-condensed">
          <thead>
            <tr>
              <th>#</th>
              <th class="text-center">Date</th>
              <th>Description</th>
              <th class="amount">Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for detail in graph.detail_earning %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td class="text-center">{{ detail.date }}</td>
              <td>{{ detail.description }}</td>
              <td>$ {{ detail.amount|floatformat:2|intcomma }}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr class="bg-success">
              <td></td>
              <td class="text-center">Total</td>
              <td></td>
              <td>$ {{ graph.total_earning|intcomma }}</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %} 

{% block js_extra %}
<script>
  $(function() { 
    // Datepicker year select
    $('#year-picker').datetimepicker({
      viewMode: 'years',
      format: 'YYYY',
      ignoreReadonly: true,
    });
    $('#year-picker').on('change.datetimepicker', function (e) {
      $('#year-form').submit()
    })
  });
</script>


{% autoescape off %}
<script>
  $(function () {
    Highcharts.setOptions({
      lang: {
        thousandsSep: ','
      }
    })
    $('#earning_graph').highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: '{{ page_title }}'
      },
      subtitle: {
        text : '{{ graph.title }}'
      },
      xAxis: {
        categories: {{ graph.x_axis }}
      },
      yAxis: {
        title: {
          text: 'Dollar ($)'
        },
        stackLabels: {
          enabled: true,
          style: {
            fontWeight: 'bold',
            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
          }
        }
      },
      legend: {
        align: 'right',
        x: -70,
        verticalAlign: 'top',
        y: 20,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
        borderColor: '#CCC',
        borderWidth: 1,
        shadow: false
      },
      tooltip: {
        formatter: function() {
          return {{ graph.tooltip }}
        }
      },
      plotOptions: {
        column: {
          stacking: 'normal',
        },
        series: {
          cursor: 'pointer',
          point: {
            events: {
              click: function() {
                if(this.options.month){
                  check_conf = confirm("You are request to check detail month earning.");
                  if(check_conf){
                    $('input[name=month]').val(this.options.month);
                    $('#year-form').submit();
                  }
                }
              }
            }
          }
        }
      },
      series: [{
        name: 'Earning',
        data: {{ graph.report }},
        color: '#2f7eda',
      }],
      exporting: {
        url: 'http://export.highcharts.com/',
        enabled: false,
      }
  });
  });
</script>
{% endautoescape %}
{% endblock js_extra %}
