<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Earning Graph | Internal Server Error">
    <meta name="author" content="Ai Jogja">
    <title>Earning Graph | 500 - Internal Server Error</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>
  <div class="jumbotron">
    <h1>500</h1>
    <p class="lead">Internal Server Error</p>
  </div>

  </body>
</html>
