{% extends "base.html" %}

{% block description %}Please use it wisely. I am not responsible if there is an increase in your earning graph{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1>About</h1>
  <p class="lead">Earning Graph is a tool to visualisation your Upwork Earning into graph. So it will easily to see the growth. Please use it wisely. I am not responsible if there is an increase in your earning.</p>
  <p><h3 class="text-success">Keep Calm and Earn Dollar</h3></p>
</div>
{% endblock %} 
