# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Docker Build and Versioning

on:
  push:
    branches:
      - master
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ vars.USERNAME }}
        password: ${{ secrets.TOKEN }}

    - name: Extract version tag or fallback
      id: version
      run: |
        TAG=${GITHUB_REF#refs/tags/}
        if [[ "$GITHUB_REF" == refs/tags/* ]]; then
          echo "tag=$TAG" >> $GITHUB_OUTPUT
        else
          echo "tag=latest" >> $GITHUB_OUTPUT
        fi

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ghcr.io/aijogja/upwork-earning-graph:${{ steps.version.outputs.tag }}
